<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      1  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>ezNote</title>
<style>
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-btn {
    text-align: center;
}
.btn-outline-success {
        
        color: #417893;
        border-color: #417893;
    }

    .btn-outline-success:hover {
        background-color: #417893;
    }


</style>
</head>
<nav class="navbar navbar-light bg-light">
  <div class="ml-auto">
    <form class="form-inline">
      <a href="{% url 'notes:index' %}" class="btn btn-outline-success">ezNote</a>

      <a href="/admin" class="btn btn-sm btn-outline-secondary" target="_blank">Admin</a>
    </form>
  </div>
</nav>

<div class="center">
<div class="card">
    
        <div class="card-header text-center"><h5 class="card-title">{{note.title}}</h5></div>
        <div class="card-body">
          
          <p class="card-text text-left">{{note.content|safe}}</p>
          <div class="center-btn">
            <a href="{% url 'notes:index' %}" class="btn btn-primary" style="color: white; background-color: #417893;  border: none;">Back</a>
          </div>
        </div>
        
</div>
</div>

