<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Detail</title>
</head>
<div class="card text-center">
    
        <div class="card-header"><h5 class="card-title">{{note.title}}</h5></div>
        <div class="card-body">
          
          <p class="card-text">{{note.content|safe}}</p>
          <a href="{% url 'notes:index' %}" class="btn btn-primary">Back</a>
        </div>
        
</div>