
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
    <title>ezNote</title>
    <link rel="icon" type="image/png" href="./static/note.png">
    <style>
        .btn-outline-success {
        
        color: #417893;
        border-color: #417893;
    }

    .btn-outline-success:hover {
        background-color: #417893;
    }

    .xxx {
  font-style: italic;
  color: gray;
}

.leftxxx {
  float: right;
}
    </style>

  </head>
  
  <nav class="navbar navbar-light bg-light">
    <a href="{% url 'admin:notes_note_add' %}" class="btn btn-outline-success">Add</a>
       
    <div class="ml-auto">
        
      <form class="form-inline">
        <a href="{% url 'notes:index' %}" class="btn btn-primary" style="color: white; background-color: #417893;  border: none;">ezNote</a>        
        <a href="{% url 'admin:index' %}" class="btn btn-sm btn-outline-secondary">Admin</a>
      </form>
    </div>
  </nav>
  

{% if list_note %}

<div class="list-group">
    {% for note in list_note %}
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">{{note.title}}</h5>
            <a href="{% url 'notes:detail' note.id %}" class="btn btn-primary" style="color: white; background-color: #417893;  border: none;">Go</a>
            
        </div>
        
    </div>
    {% endfor %}
    
</div>
<div class="leftxxx">
<!-- <a href="https://github.com/ncc02/eznote"  rel="noopener" class="text-right xxx" target="_blank"><small class="text-body-secondary">guide</small></a> -->
</div>
{% else %}
<p>No notes are available.</p>
{% endif %}

